.husky/_
.DS_Store
.secrets/
.claude/
node_modules
.worktrees
.sst
.env
.env.local
.idea/*
!.idea/gradle.xml
!.idea/.run
.idea/*.iml
.vscode/*
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/settings.json
!.vscode/tasks.json
# use vscode workspaces with peacock to have many vscodes with the same repo:
*.code-workspace
.codex
*~
playground
tmp
dist
ts-dist
storybook-static
.turbo
**/.serena
.serena/
**/.omo
.omo/
/result
refs
Session.vim
/opencode.json
a.out
target
.scripts
.direnv/
packages/kilo-jetbrains/build-tasks/.gradle/

# Local dev files
opencode-dev
.kilo-dev/
UPCOMING_CHANGELOG.md
logs/
*.bun-build

# Telemetry ID
telemetry-id
tsconfig.tsbuildinfo

# Kilo
.kilo/.gitignore
.kilo/package.json
.kilo/package-lock.json
.kilo/pnpm-lock.yaml
.kilo/bun.lock
.kilo/yarn.lock
.kilo/node_modules
.kilo/plans/*upstream-merge-report-*.md
.kilocode/.gitignore
.kilocode/package.json
.kilocode/package-lock.json
.kilocode/pnpm-lock.yaml
.kilocode/bun.lock
.kilocode/yarn.lock
.kilocode/node_modules

# Test Artifacts
packages/app/.artifacts/
packages/opencode/.artifacts/


*.vsix
